<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>内容管理系统</title>
<style>
body
{
  scrollbar-base-color:#C0D586;
  scrollbar-arrow-color:#FFFFFF;
  scrollbar-shadow-color:DEEFC6;
}
</style>
</head>
<div>
  <iframe id="frameTop" src="top.html" style="width: 100%;height: 100px"></iframe>
</div>
<div style="float: left ;width: 10%">
  <iframe id="frameContentLeft" src="menu.html" style="width: 100%;height: 750px"></iframe>
</div>
<div style="float: left;width: 90%">
  <iframe id="main" src="main.html" style="width: 100%;height: 750px" name="main"></iframe>
</div>

</html>