<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fiberhome.owtb.ofsc_crawler.mapper.SyncTaskMapper">

    <resultMap id="BaseResultMap" type="com.fiberhome.owtb.ofsc_crawler.entity.SyncTask">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="syncDate" column="sync_date" jdbcType="VARCHAR"/>
            <result property="triggerDate" column="trigger_date" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="comment" column="comment" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_name,sync_date,
        trigger_date,status,create_time,
        create_by,comment
    </sql>
</mapper>
