<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fiberhome.owtb.ofsc_crawler.mapper.SyncTaskMapper">

    <resultMap id="BaseResultMap" type="com.fiberhome.owtb.ofsc_crawler.entity.SyncTask">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="syncDate" column="sync_date" jdbcType="VARCHAR"/>
            <result property="triggerDate" column="trigger_date" jdbcType="VARCHAR"/>
            <result property="runStatus" column="run_status" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="comment" column="comment" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_name,sync_date,
        trigger_date,status,create_time,
        create_by,comment
    </sql>

    <select id="getAllData" resultMap="BaseResultMap">
        select id,user_name,sync_date,
               trigger_time,start_time,end_time,run_status,status,create_time,
               create_by,comment from ofsc_sync_task limit ${(pageNumber ) * pageSize}, #{pageSize}
    </select>
    <select id="getTotal" resultType="java.lang.Integer">
        select count(*) from ofsc_sync_task
    </select>

    <insert id="insert">
        insert into ofsc_sync_task(user_name,sync_date)
        values (#{userName},#{syncDate})
    </insert>

    <select id="selectById" resultMap="BaseResultMap">
        select id,user_name,sync_date,
               trigger_time,start_time,end_time,run_status,status,create_time,
               create_by,comment from ofsc_sync_task where id =#{id}
    </select>

    <update id="updateById">
        update ofsc_sync_task
        set user_name = #{userName},
            sync_date = #{syncDate}
        where id =#{id}
    </update>

    <delete id="deleteById">
       delete from ofsc_sync_task
        where id =#{id}
    </delete>
</mapper>
